pip install sqlalchemy pymysql

In [ ]:
import pandas as pd
import csv
from sqlalchemy import create_engine

**Conexión a MYSQL**

In [ ]:
engine = create_engine(
    "mysql+pymysql://root:1***@localhost:3306/streaming_analysis"
)

**NETFLIX**

Leemos el archivo y verificamos cuantas lineas tiene. Convertimos el archivo en formato utf-8 y determinamos los separadores del csv

In [3]:
df = pd.read_csv("netflix_titles.csv", encoding="latin1")
print(df.shape)

(8809, 26)

In [5]:
df.to_csv(
    "netflix_titles_mysql.csv",
    index=False,
    encoding="utf-8",
    sep=",",
    quotechar='"',
    lineterminator="\n"
)

Importamos los datos del csv a la tabla de MYSQL

In [ ]:
from sqlalchemy import create_engine

# Leer CSV limpio
df = pd.read_csv("netflix_titles_mysql.csv", encoding="utf-8")

print(df.shape)  # debería ser (8809, 26) o similar


# Cargar a MySQL
df.to_sql(
    name="netflix_titles",
    con=engine,
    if_exists="replace",  # o 'append'
    index=False
)

print("Carga completada")

(8809, 26)
Carga completada

**AMAZON PRIME**

In [8]:
df = pd.read_csv("amazon_prime_titles.csv", encoding="latin1")
print(df.shape)

(9668, 12)

In [ ]:
df.to_csv(
    "amazon_prime_titles_mysql.csv",
    index=False,
    encoding="utf-8",
    sep=",",
    quotechar='"',
    lineterminator="\n"
)

In [ ]:
# Leer CSV limpio
df = pd.read_csv("amazon_prime_titles_mysql.csv", encoding="utf-8")

print(df.shape)  


# Cargar a MySQL
df.to_sql(
    name="amazon_titles",
    con=engine,
    if_exists="replace",  # o 'append'
    index=False
)

print("Carga completada")

(9668, 12)
Carga completada

**DISNEY PLUS**

In [11]:
df = pd.read_csv("disney_plus_titles.csv", encoding="latin1")
print(df.shape)

(1450, 12)

In [12]:
df.to_csv(
    "disney_plus_titles_mysql.csv",
    index=False,
    encoding="utf-8",
    sep=",",
    quotechar='"',
    lineterminator="\n"
)

In [ ]:
# Leer CSV limpio
df = pd.read_csv("disney_plus_titles_mysql.csv", encoding="utf-8")

print(df.shape)  


# Cargar a MySQL
df.to_sql(
    name="disney_titles",
    con=engine,
    if_exists="replace",  # o 'append'
    index=False
)

print("Carga completada")

(1450, 12)
Carga completada

**HULU**

Transformamos datos y subimos la base de datos a MySQL

In [14]:
df = pd.read_csv("hulu_titles.csv", encoding="latin1")
print(df.shape)

(3073, 12)

In [15]:
df.to_csv(
    "hulu_titles_mysql.csv",
    index=False,
    encoding="utf-8",
    sep=",",
    quotechar='"',
    lineterminator="\n"
)

In [ ]:
# Leer CSV limpio
df = pd.read_csv("hulu_titles_mysql.csv", encoding="utf-8")

print(df.shape)  


#Cargar a MySQL
df.to_sql(
    name="hulu_titles",
    con=engine,
    if_exists="replace",  # o 'append'
    index=False
)

print("Carga completada")

(3073, 12)
Carga completada

**EXTRAER GÉNEROS DE LA TABLA GENRES**

La tabla genres tiene los generos en formato lista en un mismo valor. Haremos la limpieza y la extracción desde Python

Separamos los géneros:

In [20]:

df = pd.read_sql(
    "SELECT id, genre FROM streaming_catalog WHERE genre IS NOT NULL",
    engine
)

In [21]:
df_genres = (
    df
    .assign(genre=df['genre'].str.split(','))
    .explode('genre')
)

df_genres['genre'] = df_genres['genre'].str.strip()

Insertamos los géneros únicos:

In [22]:
unique_genres = df_genres[['genre']].drop_duplicates()
unique_genres.columns = ['genre_name']

unique_genres.to_sql(
    'genres',
    engine,
    if_exists='append',
    index=False
)

121

Creamos la relación título-genero

Cargamos la tabla genres:

In [23]:
genres_lookup = pd.read_sql("SELECT * FROM genres", engine)

Hacemos match y creamos la tabla puente:

In [24]:
title_genres = df_genres.merge(
    genres_lookup,
    left_on='genre',
    right_on='genre_name',
    how='left'
)[['id', 'genre_id']]

title_genres.columns = ['title_id', 'genre_id']

title_genres.to_sql(
    'title_genres',
    engine,
    if_exists='append',
    index=False
)

48309

Haremos una cura semantica de generos en MYSQL ya que los mismos están escritos de diferentes formas.

Hacemos una extracción de los títulos aquí para tener listado completo:

In [26]:
genres = pd.read_sql("SELECT genre_id, genre_name FROM genres ORDER BY genre_name", engine)
print(genres.to_string())

     genre_id                    genre_name
0          45                        Action
1           1            Action & Adventure
2          80              Action-Adventure
3         116               Adult Animation
4          57                     Adventure
5          63                   and Culture
6          82              Animals & Nature
7          65                     Animation
8          60                         Anime
9           2                Anime Features
10         36                  Anime Series
11         87                     Anthology
12         70                      Arthouse
13         61                          Arts
14         84                  Biographical
15        110                 Black Stories
16         18              British TV Shows
17         81                         Buddy
18        121                      Cartoons
19         15      Children & Family Movies
20         38             Classic & Cult TV
21         25                Classic Movies
22        115                      Classics
23         19                      Comedies
24         49                        Comedy
25         77                 Coming of Age
26         75                  Concert Film
27        104                Cooking & Food
28         78                         Crime
29          8                Crime TV Shows
30         20                   Cult Movies
31         97                         Dance
32        102                      Disaster
33          4                 Documentaries
34         52                   Documentary
35         10                    Docuseries
36         46                         Drama
37         16                        Dramas
38         62                 Entertainment
39         28          Faith & Spirituality
40         64        Faith and Spirituality
41         79                        Family
42         53                       Fantasy
43         69                       Fitness
44         93       Game Show / Competition
45        119                    Game Shows
46        109             Health & Wellness
47         74                    Historical
48        107                       History
49         44                        Horror
50         32                 Horror Movies
51         17            Independent Movies
52         50                 International
53          3          International Movies
54          5        International TV Shows
55         54                          Kids
56         23                      Kids' TV
57         40               Korean TV Shows
58        113                    Late Night
59        111                        Latino
60         73                         LGBTQ
61         31                  LGBTQ Movies
62        118                        LGBTQ+
63         96                     Lifestyle
64        105           Lifestyle & Culture
65         88                       Medical
66         68              Military and War
67         41                        Movies
68         76                         Music
69         26              Music & Musicals
70         66     Music Videos and Concerts
71         89                       Musical
72        100                       Mystery
73        106                          News
74         92                        Parody
75         98                    Police/Cop
76         86                       Reality
77         11                    Reality TV
78         47                       Romance
79         95               Romantic Comedy
80         22               Romantic Movies
81         12             Romantic TV Shows
82         43                        Sci-fi
83         21              Sci-Fi & Fantasy
84         39           Science & Nature TV
85        120          Science & Technology
86         56               Science Fiction
87         99                        Series
88        117                        Sitcom
89        114                 Sketch Comedy
90        101        Soap Opera / Melodrama
91         24     Spanish-Language TV Shows
92         55              Special Interest
93         58                        Sports
94         34                 Sports Movies
95         91                 Spy/Espionage
96        103                      Stand Up
97         30               Stand-Up Comedy
98         37  Stand-Up Comedy & Talk Shows
99         85                     Superhero
100        94                      Survival
101        51                      Suspense
102        83                     Talk Show
103        59         Talk Show and Variety
104       108                          Teen
105        29                 Teen TV Shows
106        48                      Thriller
107        27                     Thrillers
108       112                        Travel
109         9         TV Action & Adventure
110        13                   TV Comedies
111         6                     TV Dramas
112        14                     TV Horror
113         7                  TV Mysteries
114        35           TV Sci-Fi & Fantasy
115        42                      TV Shows
116        33                  TV Thrillers
117        71                    Unscripted
118        90                       Variety
119        72                       Western
120        67          Young Adult Audience